body {
    background-color: #0f172a;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    background-color: #111827;
}

.card {
    border-radius: 15px;
    background-color: #1e293b;
    color: white;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.15);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.02);
}

h2 {
    color: #00ffff;
}

canvas {
    background-color: #111827;
    border-radius: 10px;
    padding: 10px;
}